/* ESTILOS DE LA VENTANA POPUP DE SECCION BUSCAR PELÃCULAS */

* {
  text-decoration: none;
  list-style: none;
}
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  *height: 100vh;
  *background-image: linear-gradient(rgba(0, 0, 0.9), rgba(0, 0, 0.1)),
    url(https://unsplash.it/1600/900);
  background-size: cover;
  background-position: center;
  top: 0;
  *top: -86rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 3rem;
  overflow-y: scroll;
  transform: scale(0);
  transition: 200ms ease-in-out transform;
}
.content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 1200px;
}
.content .left .single-info {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.content .left .single-info .names {
  color: orangered;
}
.content .left .single-info .heart-icon {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}
.content .left .single-info .heart-icon:hover {
  transform: scale(1.1);
}
.content .left .single-info .heart-icon:active {
  transform: scale(0.9);
}
.poster-img {
  width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem orangered;
  border: 1px solid orangered;
  border-radius: 0.5rem;
}
.poster-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-info-container {
  width: 200px;
}
.rigth > *:not(h1) {
  margin: 1rem 0;
}
.trailer iframe {
  max-width: 400px;
  width: 100%;
  height: 200px;
  border: 2px solid orangered;
  box-shadow: 0 0 1rem orangered;
  border-radius: 0.5rem;
}
.x-icon {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 100px;
  cursor: pointer;
  user-select: none;
}
.x-icon:hover {
  transform: scale(1.3);
}
.x-icon:active {
  transform: scale(1);
}
.show-popup {
  transform: scale(1);
}
.change-color {
  color: orangered;
}

/* RESPONSIVE------------------------------------------------------------------------*/

@media only screen and (max-width: 932px) {
  .content {
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .popup-container * {
    padding: 0;
  }
  .popup-container {
    padding: 2rem;
  }
  .content {
    flex-direction: column;
  }
  h1 {
    font-size: 32px;
  }
  .x-icon {
    font-size: 20px;
    font-weight: bold;
    top: 10px;
    right: 20px;
  }
}

@media only screen and (max-width: 635px) {
  .content {
    max-width: 90%;
  }
}

@media only screen and (max-width: 448px) {
  .content {
    max-width: 90%;
  }
}

@media only screen and (max-width: 388px) {
  .content {
    max-width: 90%;
  }
  .poster-img {
    width: 220px;
    height: 400px;
    overflow: hidden;
  }
  h1 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 310px) {
  .content {
    max-width: 90%;
  }
  .poster-img {
    width: 200px;
    height: 400px;
    overflow: hidden;
  }
}
