<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIENVENIDO</title>
    <link rel="stylesheet" href="../../static/css/bienvenido.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/estilos.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='img/lia.jpg')}}"
      type="image/x-icon"
    />
  </head>
  <body class="home">
    <div class="inicio">
      <h1>BIENVENIDO (a) {{session['name']}}</h1>
      <h2>Eres nuestro cliente</h2>
      <button><a href="/lay">Salir</a></button>
    </div>
  </body>
</html>
