<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/contacto.css" />
    <link rel="shortcut icon" href="../static/img/l1.jpg" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--link de fontawesome---------------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <!--hasta aquí ------>
  </head>
  <body>
    <header>
      <div class="up">
        <!--<a href="#"><img src="img/h2.jpg" class="logot" alt=""></a>-->
        <a href="/" class="logo">MAVENS</a>

        <nav>
          <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/cartelera">Cartelera</a></li>
            <li><a href="/peliculas">Peliculas</a></li>
            <li><a href="/registro">registro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </nav>
      </div>
      <div class="other-links">
        <button id="btn-login"><a href="/login">Inicio</a></button>
        <button id="btn-signup"><a href="/registro">Registro</a></button>
      </div>
      <div class="icons">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </header>

    <!--formulario de contacto para enviar correo -->

    <section class="contact container" id="contact">
      <h2 class="heading">Envianos un correo</h2>

      <form action="" class="contact-form" id="contact-form">
        <input type="text" placeholder="Tu nombre..." class="name" required />
        <input
          type="email"
          name=""
          id=""
          placeholder="@ Tu correo..."
          class="email"
          required
        />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Escribe tu mensaje aqui..."
          class="message"
          required
        ></textarea>
        <input type="submit" value="Enviar" class="send-btn" />
      </form>
    </section>

    <div class="copyright">
      <p>
        &#169; Pagina creada por:
        <a
          href="https://api.whatsapp.com/send?phone=573123353062&text=Hola, estoy interesado en una pagina."
          target="_blank"
          ><span>Andrés Diaz.</span></a
        >
        Todos los derechos reservados.
      </p>
      <p>| TMDB | AGRADECIMIENTOS, CREDITOS.</p>
    </div>
    <!-- REDES SOCIALES -------------------------------------------------->
    <div class="redes">
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=573138032210&text=Hola, me interesa el servicio."
          target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </li>
      <li>
        <a href="mailto:ffonte422@gmail.com" target="_blank"
          ><i class="fas fa-envelope"></i
        ></a>
      </li>
    </div>
    <script src="../static/js/contacto.js"></script>
  </body>
</html>
