<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR</title>
    <link rel="stylesheet" href="../static/css/error.css" />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='img/lia.jpg')}}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <div class="mensaje">
        <p class="error">ERROR ...</p>
        <h1 class="title">Datos incorrectos o campo vacio papi ...</h1>
        <p class="or">o mami ...</p>
        <a href="/login" class="Salir">Intenta nuevamente</a>
      </div>
    </div>
  </body>
</html>
